<div style="height: 75px;"></div>
<div class="footer-content">
    <div class="">
        <div class="content" fxLayout="column">
            <span class="author"> © 2023 Owo Jude</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a mat-icon-button href="mailto:judechidiowo@gmail.com" class="nav-link"><i class="fa fa-envelope"></i></a>
                    <a mat-icon-button href="https://twitter.com/jUd0LSki?s=08" class="nav-link"><i class="fa fa-twitter"></i></a>
                    <a mat-icon-button href="https://www.linkedin.com/in/chidi-j-owo-989568104" class="nav-link"><i class=" fa fa-linkedin"></i></a>
                    <a mat-icon-button href="https://github.com/judolski" class="nav-link"><i class=" fa fa-github"></i></a>
                </li>   
            </ul>
        </div>
    </div>
</div>


