<div class="cols">
    <div class="container row row-content">
        <div class="col-12">
            <div class="profile">
                <img class="image" src="../../assets/chidi.jpg">
                <h3>Hi, I'm Jude<br>Web developer</h3>
                <small>Frontend | Backend | Freelancer</small><br>
                <button (click)=" openDialog('3s', '2s')">Contact Me</button>
            </div>      
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/overview']" routerLinkActive="active" role="tab" data-toggle="tab"> Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/qualifications']" routerLinkActive="active" role="tab" data-toggle="tab">Qualifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/carrier']" routerLinkActive="active" role="tab" data-toggle="tab">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active" role="tab" data-toggle="tab">Project Samples</a>
                </li>
            </ul>
        </div>
    </div>
</div>





