

<div class="container-fluid">
    <mat-card fxLayout="column">
        <div>
            <span>
                I value simple but attractive content structure. 
                I am very mindful of end user experience and room for future maintenance, thus, my choice of clean design patterns.
            </span>
        </div>
        <div class="carrier" fxLayout="row" fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="100">
            <mat-card fxFlex="30">
                <mat-card-header>
                    Languages I speak
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>JavaScript</li>
                        <li>Typescript</li>
                        <li>Css</li>
                        <li>Sass</li>
                        <li>Html5</li>
                    </ul>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="30">
                <mat-card-header>
                    Dev Tools
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>Github</li>
                        <li>Bootstrap</li>
                        <li>Font Awesome</li>
                        <li>MongoDb (Database)</li>
                    </ul>
                </mat-card-content>
                <mat-card-footer ></mat-card-footer>
            </mat-card>

            <mat-card fxFlex="30">
                <mat-card-header>
                    Framework
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                        <li>Node.js/Express.js</li>
                    </ul>
                </mat-card-content>
                <mat-card-footer ></mat-card-footer>
            </mat-card>

            <mat-card fxFlex="30">
                <mat-card-header>
                    Other Skills
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>Digital Marketing</li>
                        <li>Problem Solving techniques</li>
                        <li>Self-motivated and driven by targets</li>
                        <li>Resilience</li>
                        <li>Strong communication skills</li>
                        <li>Commercial awareness</li>
                    </ul>
                </mat-card-content>
                <mat-card-footer></mat-card-footer>
            </mat-card>

        
        </div>
    </mat-card>
</div>