<div class="container-fluid">
    <mat-card>
        <mat-card-content>
            <p>Hello, My name is Jude Owo, a self-taught Fullstack developer with over two years experience, I am also a highly qualified Digital Sales Manager with experience in the banking sector.
            <p>My aim is to become a successful expert in the field of Information Technology by channeling my technical knowledge and skills to ensure personal and professional growth.  
                 A second class upper  graduate of computer science. 
                 I have knowledge of JavaScript, Bootstrap, NodeJS, Angular, and possess a basic understanding of UX/UI design.</p>
            <p>It has not been easy being a self-taught developer, so I joined a community of developers where some of my questions and challenges are being resolved.
                Being a self-taught developer also gives room for indept research as well as more knowledge acquisition.
            </p>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>
