<div fxLayout="column" class="container-fluid">
    <mat-card fxFlex="30">
        <div class="card-header">
            <h6>Computer Science(B.Sc)</h6>
        </div>
        <mat-card-content>
            Due to my love and passion for tech, I studied computer science and graduated with a second class upper grade.
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="card-header">
            <h6>Certifications</h6>
        </div>
        <mat-card-content>
            <div style="margin-top: 5px; margin-bottom: 5px;">
                Since the begining of my tech journey I have completed series of web development courses.
            </div>
            <div class="certification" fxLayout="row" fxLayout.lt-md="column">
                <mat-card fxFlex="30">
                    <mat-card-content>
                        <div>
                            <b>Web Development Fundations</b>(Online Course - Udacity)
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex="30">
                    <mat-card-content>
                        <div>
                            <b>Server-side Development with NodeJS, Express and MongoDB</b>
                            (Coursera online course - Hong Kong University of science and technology)
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex="30">
                    <mat-card-content>
                        <div>
                            <b>Front-end Javascript Framework with Angular</b>
                            (Coursera online course - Hong Kong University of science and technology)
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex="30">
                    <mat-card-content>
                        <div>
                            <b>Full Stack Web Development with Angular</b>
                            (Coursera online course - Hong Kong University of science and technology)
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="certification" fxLayout="row" fxLayout.lt-md="column">
                <mat-card fxFlex="30">
                    <div fxLayout="row" class="card-header">
                        <h6>In Progress <i class="fa fa-cart-plus fa-lg"></i></h6>
                    </div>
                    <mat-card-content>
                        <div>
                            <b>React, Microsoft Azure</b>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>
